.elementor-1124 .elementor-element.elementor-element-1c16173 > .elementor-container {max-width: 1440px;}
.elementor-1124 .elementor-element.elementor-element-16c9027c {margin-top: 0px;margin-bottom: 0px;}
.elementor-1124 .elementor-element.elementor-element-69609bc8 > .elementor-element-populated {padding: 1em 1em 1em 1em;}
.elementor-1124 .elementor-element.elementor-element-4abdb588 > .elementor-widget-container {padding: 0px 0px 0px 0px;}
.elementor-1124 .elementor-element.elementor-element-4abdb588 {z-index: 1;width: initial;max-width: initial;}
.elementor-1124 .elementor-element.elementor-element-77de40e0 {text-align: left;width: auto;max-width: auto;align-self: center;}
.elementor-1124 .elementor-element.elementor-element-77de40e0 .elementor-heading-title {color: #fff;font-size: 20px;}
.elementor-1124 .elementor-element.elementor-element-77de40e0 > .elementor-widget-container {margin: 0px 0px 0px -20px;padding: 10px 10px 10px 25px;background-color: #3956a0;border-radius: 0px 500px 500px 0px;}
.elementor-1124 .elementor-element.elementor-element-1dea173b .elementor-text-editor {text-align: justify;}
.elementor-1124 .elementor-element.elementor-element-1dea173b {font-size: 16px;line-height: 1.3em;}
.elementor-1124 .elementor-element.elementor-element-1dea173b > .elementor-widget-container {margin: 15px 0px 0px 0px;}
.elementor-1124 .elementor-element.elementor-element-557597c9 .elementor-heading-title {color: #3956a0;}
.elementor-1124 .elementor-element.elementor-element-557597c9 > .elementor-widget-container {padding: 0% 0% 0% 10%;}
.elementor-1124 .elementor-element.elementor-element-79df4cd7 .elementor-text-editor {text-align: justify;}
.elementor-1124 .elementor-element.elementor-element-79df4cd7 {font-size: 16px;line-height: 1.3em;}
.elementor-1124 .elementor-element.elementor-element-79df4cd7 > .elementor-widget-container {padding: 0% 0% 0% 10%;}
.elementor-1124 .elementor-element.elementor-element-25316a74 > .elementor-element-populated {padding: 1em 1em 1em 1em;}
.elementor-1124 .elementor-element.elementor-element-ba5651d .elementor-spacer-inner {height: 50px;}
.elementor-1124 .elementor-element.elementor-element-6142c59f .elementor-text-editor {text-align: justify;}
.elementor-1124 .elementor-element.elementor-element-6142c59f {font-size: 16px;line-height: 1.3em;}
.elementor-1124 .elementor-element.elementor-element-d636d4 .elementor-image img {max-width: 60%;}
.elementor-1124 .elementor-element.elementor-element-5205c15c > .elementor-element-populated {padding: 1em 1em 1em 1em;}
.elementor-1124 .elementor-element.elementor-element-7d82587 .elementor-spacer-inner {height: 50px;}
.elementor-1124 .elementor-element.elementor-element-8d27e91 .elementor-heading-title {color: #3956a0;}
.elementor-1124 .elementor-element.elementor-element-8d27e91 > .elementor-widget-container {padding: 0% 0% 0% 10%;}
.elementor-1124 .elementor-element.elementor-element-5827da88 .elementor-text-editor {text-align: justify;}
.elementor-1124 .elementor-element.elementor-element-5827da88 {font-size: 16px;line-height: 1.3em;}
.elementor-1124 .elementor-element.elementor-element-5827da88 > .elementor-widget-container {padding: 0% 0% 0% 10%;}
@media (max-width:1024px) {.elementor-1124 .elementor-element.elementor-element-69609bc8 > .elementor-element-populated {padding: 1em 1em 1em 1em;}
	.elementor-1124 .elementor-element.elementor-element-4abdb588 {align-self: center;}
	.elementor-1124 .elementor-element.elementor-element-77de40e0 .elementor-heading-title {font-size: 16px;}
	.elementor-1124 .elementor-element.elementor-element-77de40e0 > .elementor-widget-container {margin: 0px 0px 0px -15px;padding: 5px 10px 5px 20px;}
	.elementor-1124 .elementor-element.elementor-element-25316a74 > .elementor-element-populated {padding: 1em 1em 1em 1em;}
	.elementor-1124 .elementor-element.elementor-element-ba5651d .elementor-spacer-inner {height: 0px;}
	.elementor-1124 .elementor-element.elementor-element-d636d4 .elementor-image img {width: 50%;}
	.elementor-1124 .elementor-element.elementor-element-7d82587 .elementor-spacer-inner {height: 0px;}}
@media (min-width:768px) {.elementor-1124 .elementor-element.elementor-element-69609bc8 {width: 33.304%;}
	.elementor-1124 .elementor-element.elementor-element-25316a74 {width: 33.058%;}
	.elementor-1124 .elementor-element.elementor-element-5205c15c {width: 33.304%;}}
@media (max-width:1024px) and (min-width:768px) {.elementor-1124 .elementor-element.elementor-element-69609bc8 {width: 100%;}
	.elementor-1124 .elementor-element.elementor-element-25316a74 {width: 100%;}
	.elementor-1124 .elementor-element.elementor-element-5205c15c {width: 100%;}}