.elementor-1111 .elementor-element.elementor-element-48b893a2 > .elementor-container {max-width: 1440px;}
.elementor-1111 .elementor-element.elementor-element-71bbf77 {margin-top: 0px;margin-bottom: 0px;padding: 5% 0% 0% 0%;}
.elementor-1111 .elementor-element.elementor-element-498bb704 > .elementor-element-populated {padding: 1em 1em 1em 1em;}
.elementor-1111 .elementor-element.elementor-element-47eb51f9 > .elementor-widget-container {padding: 0px 0px 0px 0px;}
.elementor-1111 .elementor-element.elementor-element-47eb51f9 {z-index: 5;width: initial;max-width: initial;}
.elementor-1111 .elementor-element.elementor-element-549eb440 {text-align: left;width: auto;max-width: auto;align-self: center;}
.elementor-1111 .elementor-element.elementor-element-549eb440 .elementor-heading-title {color: #fff;font-size: 18px;}
.elementor-1111 .elementor-element.elementor-element-549eb440 > .elementor-widget-container {margin: 0px 0px 0px -20px;padding: 4px 10px 4px 20px;background-color: #e3b018;border-radius: 0px 500px 500px 0px;}
.elementor-1111 .elementor-element.elementor-element-1dbae5a .elementor-text-editor {text-align: justify;}
.elementor-1111 .elementor-element.elementor-element-1dbae5a {font-size: 16px;line-height: 1.3em;}
.elementor-1111 .elementor-element.elementor-element-1dbae5a > .elementor-widget-container {padding: 20px 0px 0px 0px;}
.elementor-1111 .elementor-element.elementor-element-7095cfba > .elementor-element-populated {padding: 1em 1em 1em 1em;}
.elementor-1111 .elementor-element.elementor-element-058f334 .elementor-text-editor {text-align: justify;}
.elementor-1111 .elementor-element.elementor-element-058f334 {font-size: 16px;line-height: 1.3em;}
.elementor-1111 .elementor-element.elementor-element-812d7e6 .elementor-image img {width: 100%;max-width: 100%;}
.elementor-1111 .elementor-element.elementor-element-bc812bf .elementor-text-editor {text-align: justify;}
.elementor-1111 .elementor-element.elementor-element-bc812bf {font-size: 16px;line-height: 1.3em;}
.elementor-1111 .elementor-element.elementor-element-5feb7888.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {justify-content: center;}
.elementor-1111 .elementor-element.elementor-element-5d9e91f .elementor-image img {max-width: 50%;}
.elementor-1111 .elementor-element.elementor-element-5661795 .elementor-text-editor {text-align: justify;}
.elementor-1111 .elementor-element.elementor-element-5661795 {font-size: 16px;line-height: 1.3em;}
.elementor-1111 .elementor-element.elementor-element-777f46f .elementor-image img {max-width: 50%;}
.elementor-1111 .elementor-element.elementor-element-ce76c45 .elementor-text-editor {text-align: justify;}
.elementor-1111 .elementor-element.elementor-element-ce76c45 {font-size: 16px;line-height: 1.3em;}
.elementor-1111 .elementor-element.elementor-element-3aa975d > .elementor-container {max-width: 1440px;}
.elementor-1111 .elementor-element.elementor-element-3aa975d {margin-top: 50px;margin-bottom: 50px;}
.elementor-1111 .elementor-element.elementor-element-59adea2 > .elementor-element-populated {padding: 1em 1em 1em 1em;}
.elementor-1111 .elementor-element.elementor-element-f30b42a.elementor-position-right .elementor-image-box-img {margin-left: 20px;}
.elementor-1111 .elementor-element.elementor-element-f30b42a.elementor-position-left .elementor-image-box-img {margin-right: 20px;}
.elementor-1111 .elementor-element.elementor-element-f30b42a.elementor-position-top .elementor-image-box-img {margin-bottom: 20px;}
.elementor-1111 .elementor-element.elementor-element-f30b42a .elementor-image-box-wrapper .elementor-image-box-img {width: 80%;}
.elementor-1111 .elementor-element.elementor-element-f30b42a .elementor-image-box-img img {transition-duration: .3s;}
.elementor-1111 .elementor-element.elementor-element-9596571.elementor-position-right .elementor-image-box-img {margin-left: 20px;}
.elementor-1111 .elementor-element.elementor-element-9596571.elementor-position-left .elementor-image-box-img {margin-right: 20px;}
.elementor-1111 .elementor-element.elementor-element-9596571.elementor-position-top .elementor-image-box-img {margin-bottom: 20px;}
.elementor-1111 .elementor-element.elementor-element-9596571 .elementor-image-box-wrapper .elementor-image-box-img {width: 80%;}
.elementor-1111 .elementor-element.elementor-element-9596571 .elementor-image-box-img img {transition-duration: .3s;}
.elementor-1111 .elementor-element.elementor-element-fed08b1 > .elementor-element-populated {padding: 1em 1em 1em 1em;}
.elementor-1111 .elementor-element.elementor-element-5a43189.elementor-position-right .elementor-image-box-img {margin-left: 20px;}
.elementor-1111 .elementor-element.elementor-element-5a43189.elementor-position-left .elementor-image-box-img {margin-right: 20px;}
.elementor-1111 .elementor-element.elementor-element-5a43189.elementor-position-top .elementor-image-box-img {margin-bottom: 20px;}
.elementor-1111 .elementor-element.elementor-element-5a43189 .elementor-image-box-wrapper .elementor-image-box-img {width: 45%;}
.elementor-1111 .elementor-element.elementor-element-5a43189 .elementor-image-box-img img {transition-duration: .3s;}
.elementor-1111 .elementor-element.elementor-element-6f6cd81.elementor-position-right .elementor-image-box-img {margin-left: 20px;}
.elementor-1111 .elementor-element.elementor-element-6f6cd81.elementor-position-left .elementor-image-box-img {margin-right: 20px;}
.elementor-1111 .elementor-element.elementor-element-6f6cd81.elementor-position-top .elementor-image-box-img {margin-bottom: 20px;}
.elementor-1111 .elementor-element.elementor-element-6f6cd81 .elementor-image-box-wrapper .elementor-image-box-img {width: 45%;}
.elementor-1111 .elementor-element.elementor-element-6f6cd81 .elementor-image-box-img img {transition-duration: .3s;}
.elementor-1111 .elementor-element.elementor-element-1195403.elementor-position-right .elementor-image-box-img {margin-left: 20px;}
.elementor-1111 .elementor-element.elementor-element-1195403.elementor-position-left .elementor-image-box-img {margin-right: 20px;}
.elementor-1111 .elementor-element.elementor-element-1195403.elementor-position-top .elementor-image-box-img {margin-bottom: 20px;}
.elementor-1111 .elementor-element.elementor-element-1195403 .elementor-image-box-wrapper .elementor-image-box-img {width: 45%;}
.elementor-1111 .elementor-element.elementor-element-1195403 .elementor-image-box-img img {transition-duration: .3s;}
.elementor-1111 .elementor-element.elementor-element-8f77f5f > .elementor-container {max-width: 1440px;min-height: 75vh;}
.elementor-1111 .elementor-element.elementor-element-8f77f5f > .elementor-container:after {content: "";min-height: inherit;}
.elementor-1111 .elementor-element.elementor-element-8f77f5f {margin-top: 50px;margin-bottom: 50px;}
.elementor-1111 .elementor-element.elementor-element-820a7ca > .elementor-element-populated {padding: 1em 1em 1em 1em;}
.elementor-1111 .elementor-element.elementor-element-681426c .elementor-text-editor {text-align: justify;}
.elementor-1111 .elementor-element.elementor-element-681426c {font-size: 16px;line-height: 1.3em;}
.elementor-1111 .elementor-element.elementor-element-d535eac > .elementor-element-populated {padding: 1em 1em 1em 1em;}
.elementor-1111 .elementor-element.elementor-element-a4141f5 .elementor-button {font-family: "Source Sans Pro",Sans-serif;font-size: 1.5em;font-weight: bold;fill: #fff;color: #fff;background-color: #f8ba00;border-radius: 10px 10px 10px 10px;}
.elementor-1111 .elementor-element.elementor-element-a4141f5 > .elementor-widget-container {margin: 0px 0px 0px 0px;padding: 18px 18px 18px 18px;border-radius: 15px 15px 15px 15px;}
.elementor-1111 .elementor-element.elementor-element-a95ce1b .elementor-text-editor {text-align: justify;}
.elementor-1111 .elementor-element.elementor-element-a95ce1b {font-size: 16px;line-height: 1.3em;}
.elementor-1111 .elementor-element.elementor-element-0dc41be > .elementor-element-populated {padding: 1em 1em 1em 1em;}
.elementor-1111 .elementor-element.elementor-element-314bb12 {text-align: center;}
.elementor-1111 .elementor-element.elementor-element-314bb12 .elementor-image img {width: 73%;}
.elementor-1111 .elementor-element.elementor-element-62a3d98.elementor-position-right .elementor-image-box-img {margin-left: 15px;}
.elementor-1111 .elementor-element.elementor-element-62a3d98.elementor-position-left .elementor-image-box-img {margin-right: 15px;}
.elementor-1111 .elementor-element.elementor-element-62a3d98.elementor-position-top .elementor-image-box-img {margin-bottom: 15px;}
.elementor-1111 .elementor-element.elementor-element-62a3d98 .elementor-image-box-wrapper .elementor-image-box-img {width: 20%;}
.elementor-1111 .elementor-element.elementor-element-62a3d98 .elementor-image-box-img img {transition-duration: .3s;}
.elementor-1111 .elementor-element.elementor-element-62a3d98 .elementor-image-box-content .elementor-image-box-title {color: #f8ba00;}
.elementor-1111 .elementor-element.elementor-element-2a58968 .elementor-text-editor {text-align: justify;}
.elementor-1111 .elementor-element.elementor-element-2a58968 {font-size: 16px;line-height: 1.3em;}
.elementor-1111 .elementor-element.elementor-element-8071a41 > .elementor-container {max-width: 1440px;}
.elementor-1111 .elementor-element.elementor-element-8071a41 {margin-top: 50px;margin-bottom: 50px;}
.elementor-1111 .elementor-element.elementor-element-47ccc1a {margin-top: 0px;margin-bottom: 50px;}
.elementor-1111 .elementor-element.elementor-element-3852ef8 .elementor-image img {width: 100%;max-width: 90%;border-radius: 25px 25px 25px 25px;}
.elementor-1111 .elementor-element.elementor-element-21708d4.elementor-position-right .elementor-image-box-img {margin-left: 15px;}
.elementor-1111 .elementor-element.elementor-element-21708d4.elementor-position-left .elementor-image-box-img {margin-right: 15px;}
.elementor-1111 .elementor-element.elementor-element-21708d4.elementor-position-top .elementor-image-box-img {margin-bottom: 15px;}
.elementor-1111 .elementor-element.elementor-element-21708d4 .elementor-image-box-wrapper .elementor-image-box-img {width: 20%;}
.elementor-1111 .elementor-element.elementor-element-21708d4 .elementor-image-box-img img {transition-duration: .3s;}
.elementor-1111 .elementor-element.elementor-element-21708d4 .elementor-image-box-content .elementor-image-box-title {color: #f8ba00;}
.elementor-1111 .elementor-element.elementor-element-e3c399f .elementor-text-editor {text-align: justify;}
.elementor-1111 .elementor-element.elementor-element-e3c399f {font-size: 16px;line-height: 1.3em;}
.elementor-1111 .elementor-element.elementor-element-ec717c5 .elementor-text-editor {text-align: justify;}
.elementor-1111 .elementor-element.elementor-element-ec717c5 {font-size: 16px;line-height: 1.3em;}
.elementor-1111 .elementor-element.elementor-element-406a7d1 .elementor-image img {width: 100%;}
.elementor-1111 .elementor-element.elementor-element-ede9454 .elementor-image img {width: 16vw;}
.elementor-1111 .elementor-element.elementor-element-12c4afe .elementor-text-editor {text-align: justify;}
.elementor-1111 .elementor-element.elementor-element-12c4afe {font-size: 16px;line-height: 1.3em;}
@media (min-width:768px) {.elementor-1111 .elementor-element.elementor-element-498bb704 {width: 33.33334%;}
	.elementor-1111 .elementor-element.elementor-element-7095cfba {width: 33.275%;}
	.elementor-1111 .elementor-element.elementor-element-5feb7888 {width: 33.058%;}
	.elementor-1111 .elementor-element.elementor-element-59adea2 {width: 42.569%;}
	.elementor-1111 .elementor-element.elementor-element-fed08b1 {width: 57.431%;}}
@media (max-width:1024px) and (min-width:768px) {.elementor-1111 .elementor-element.elementor-element-498bb704 {width: 100%;}
	.elementor-1111 .elementor-element.elementor-element-7095cfba {width: 100%;}
	.elementor-1111 .elementor-element.elementor-element-5feb7888 {width: 100%;}
	.elementor-1111 .elementor-element.elementor-element-820a7ca {width: 50%;}
	.elementor-1111 .elementor-element.elementor-element-d535eac {width: 50%;}
	.elementor-1111 .elementor-element.elementor-element-0dc41be {width: 100%;}
	.elementor-1111 .elementor-element.elementor-element-b8f333d {width: 33%;}
	.elementor-1111 .elementor-element.elementor-element-2257d5c {width: 33%;}
	.elementor-1111 .elementor-element.elementor-element-0d2c2d4 {width: 33%;}}
@media (max-width:1024px) {.elementor-1111 .elementor-element.elementor-element-1fbf1270 > .elementor-element-populated {padding: 1em 1em 1em 1em;}
	.elementor-1111 .elementor-element.elementor-element-47eb51f9 {align-self: center;}
	.elementor-1111 .elementor-element.elementor-element-549eb440 .elementor-heading-title {font-size: .85em;}
	.elementor-1111 .elementor-element.elementor-element-549eb440 > .elementor-widget-container {margin: 10px 0px 0px -15px;padding: 5px 10px 5px 20px;}
	.elementor-1111 .elementor-element.elementor-element-549eb440 {align-self: flex-start;}
	.elementor-1111 .elementor-element.elementor-element-0d0d9b5 .elementor-image img {width: 70%;}}
@media (max-width:767px) {.elementor-1111 .elementor-element.elementor-element-f30b42a .elementor-image-box-img {margin-bottom: 20px;}
	.elementor-1111 .elementor-element.elementor-element-f30b42a .elementor-image-box-wrapper .elementor-image-box-img {width: 50%;}
	.elementor-1111 .elementor-element.elementor-element-9596571 .elementor-image-box-img {margin-bottom: 20px;}
	.elementor-1111 .elementor-element.elementor-element-9596571 .elementor-image-box-wrapper .elementor-image-box-img {width: 50%;}
	.elementor-1111 .elementor-element.elementor-element-5a43189 .elementor-image-box-img {margin-bottom: 20px;}
	.elementor-1111 .elementor-element.elementor-element-5a43189 .elementor-image-box-wrapper .elementor-image-box-img {width: 50%;}
	.elementor-1111 .elementor-element.elementor-element-6f6cd81 .elementor-image-box-img {margin-bottom: 20px;}
	.elementor-1111 .elementor-element.elementor-element-6f6cd81 .elementor-image-box-wrapper .elementor-image-box-img {width: 50%;}
	.elementor-1111 .elementor-element.elementor-element-1195403 .elementor-image-box-img {margin-bottom: 20px;}
	.elementor-1111 .elementor-element.elementor-element-1195403 .elementor-image-box-wrapper .elementor-image-box-img {width: 50%;}
	.elementor-1111 .elementor-element.elementor-element-62a3d98 .elementor-image-box-img {margin-bottom: 15px;}
	.elementor-1111 .elementor-element.elementor-element-21708d4 .elementor-image-box-img {margin-bottom: 15px;}}
.elementor-1111 .elementor-element.elementor-element-62a3d98 .elementor-image-box-wrapper {display: flex;vertical-align: middle;align-items: center;justify-content: center;}
.elementor-1111 .elementor-element.elementor-element-62a3d98 .elementor-image-box-content {display: inline-flex;align-self: center;vertical-align: middle;}
.elementor-1111 .elementor-element.elementor-element-62a3d98 .elementor-image-box-title {align-self: center;}
.elementor-1111 .elementor-element.elementor-element-62a3d98 .elementor-image-box-description {align-self: center;}
.elementor-1111 .elementor-element.elementor-element-21708d4 .elementor-image-box-wrapper {display: flex;vertical-align: middle;align-items: center;justify-content: center;}
.elementor-1111 .elementor-element.elementor-element-21708d4 .elementor-image-box-content {display: inline-flex;align-self: center;vertical-align: middle;}
.elementor-1111 .elementor-element.elementor-element-21708d4 .elementor-image-box-title {align-self: center;}
.elementor-1111 .elementor-element.elementor-element-21708d4 .elementor-image-box-description {align-self: center;}