.elementor-615 .elementor-element.elementor-element-ff660b8 > .elementor-container {min-height: 180px;}
.elementor-615 .elementor-element.elementor-element-ff660b8 > .elementor-container:after {content: "";min-height: inherit;}
.elementor-615 .elementor-element.elementor-element-ff660b8 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;margin-top: 0px;margin-bottom: 50px;}
.elementor-615 .elementor-element.elementor-element-ff660b8 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-615 .elementor-element.elementor-element-2519e2c {width: auto;max-width: auto;}
.elementor-615 .elementor-element.elementor-element-ea46f14 .elementor-button {fill: #fff;color: #fff;}
.elementor-615 .elementor-element.elementor-element-ea46f14 > .elementor-widget-container {margin: 0% 15% 0% 15%;}
.elementor-615 .elementor-element.elementor-element-daea862 {width: auto;max-width: auto;}
.elementor-615 .elementor-element.elementor-element-19e52fd .elementor-button {fill: #fff;color: #fff;}
.elementor-615 .elementor-element.elementor-element-19e52fd > .elementor-widget-container {margin: 0% 15% 0% 15%;}
@media (min-width:768px) {.elementor-615 .elementor-element.elementor-element-c84ffa1 {width: 49.909%;}
	.elementor-615 .elementor-element.elementor-element-6c74050 {width: 50.046%;}}